<%- include('./shared/header') %>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div id='capa-usuario' class="bg-gradiente">
            <div class="row">
                <div class="col-md-3">
                    <div class="perfil-usuario" id='perfil-capa-img'>
                        <% if(usuario[0].foto_perfil != '') { %>
                            <img src="<%=usuario[0].foto_perfil %>">
                        <% } else { %>
                            <img src="./images/usuario.png" id='imagenPerfil'>
                        <% } %>
                    </div>
                    <button href="#!" id='btnImgPerfil' data-toggle="modal" data-target="#perfilImage"><i class="fas fa-camera fa-2x"></i></button>
                    
                </div>
                <div class="col-md-9">
                    <h2 id='nomeUsuario'><%=usuario[0].nome_completo %> - <a href="#!" data-toggle="modal" data-target="#editPerfil"><i class="fas fa-user-edit"></i></a></h2>
                    <p id='pDescricao'>
                        <%=usuario[0].descricao_bio %>
                    </p>
                </div>

            </div>
        </div>
        <div class="row row-status">
            <div class="col-md-6">
                <div id="preferencias">
                    <p>Preferencias</p>

                </div>
            </div>
            <div class="col-md-3">
                <div id='prod-servicos'>
                    <p>Produtos e Serviços</p>

                </div>
            </div>
            <div class="col-md-3">
                <div id='avaliacao-user' class="bg-gradiente">
                    <button href="#!" id='btnMudarPerfil' data-toggle="modal" data-target="#mudarPerfil"><i class="fas fa-camera fa-2x"></i></button>
                </div>
            </div>
        
        </div>
        <!-- Duplicação Só pra eu não mexer no arquivo errado -->
        <div class="row row-status">
            <div class="col-md-6">
                <div id="preferencias">
                    <p>Preferencias</p>

                </div>
            </div>
            <div class="col-md-3">
                <div id='prod-servicos'>
                    <p>Produtos e Serviços</p>

                </div>
            </div>
            <div class="col-md-3">
                <div id='avaliacao-user' class="bg-gradiente">

                </div>
            </div>
        
        </div> <!--Fim da duplicação-->
    </div>

    <!-- <div class="col-md-4">

    </div> -->

</div>
</div>
<!-- Editar perfil -->
<div class="modal fade" id="editPerfil" tabindex="-1" role="dialog" aria-labelledby="editPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-color-primary" id="editPerfilLabel"><%=usuario[0].nome_completo %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/" class="form-horizontal" id='formPerfil'>
             <div class="form-group">
                <div class="row">
                    <div class="col-md-12"><input type="hidden" value="<%=usuario[0].id %>" name="id">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome_completo" id="" class="form-control" placeholder="Nome..." value="<%=usuario[0].nome_completo %>" required>
                    </div>
                    <div class="col-md-12">
                        <label for="nome_social">Nome</label>
                        <input type="text" name="nome_social" id="" class="form-control" placeholder="Nome Social..." value="<%=usuario[0].nome_social %>">
                    </div>
                    <div class="col-md-12">
                        <label for="genero">Genero</label>
                        <select name="genero" id="" class="form-control">
                            <% if(usuario[0].genero == "M") { %>
                                <option value="">Selecione...</option>
                                <option value="M" selected>Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="O">Outro</option>
                       
                            <% } else if(usuario[0].genero == "F") { %>
                                <option value="">Selecione...</option>
                                <option value="M">Masculino</option>
                                <option value="F" selected>Feminino</option>
                                <option value="O">Outro</option>
           
                            <% } else if(usuario[0].genero == "O") { %>
                                <option value="">Selecione...</option>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="O" selected>Outro</option>
                            <% } else {%>
                                <option value="">Selecione...</option>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="O">Outro</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="nome">CPF:</label>
                        <input type="text" name="cpf" id="" class="form-control" placeholder="000.000.000/07" value="<%=usuario[0].cpf %>">
                    </div>
                    <div class="col-md-6">
                        <label for="nome">Data Nasc:</label>
                        <input type="date" name="data_nascimento" id="" class="form-control" value="<%=usuario[0].data_nascimento %>">
                    </div>
                    <div class="col-md-12">
                        <label for="descricao_bio">Biografia</label>
                        <textarea name="descricao_bio" id="" cols="30" rows="10" class="form-control"><%=usuario[0].descricao_bio %></textarea>
                    </div>
                </div>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-primary-color icon-color-white" onclick="update('<%=usuario[0].id %>')" data-dismiss="modal">Atualizar Perfil</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Inserir Imagem Perfil -->
  <div class="modal fade" id="perfilImage" tabindex="-1" role="dialog" aria-labelledby="perfilImagLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-color-primary" id="perfilImageLabel"><%=usuario[0].nome_completo %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/users/imgperfil" method="POST" class="form-horizontal" id='formImagePerfil' enctype="multipart/form-data">
             <div class="form-group">
                <div class="row">
                    <div class='col-md-12'>
                        <div class="perfil-usuario" id='perfil-capa-img'>
                            <% if(usuario[0].foto_perfil != '') { %>
                                <img src="<%=usuario[0].foto_perfil %>">
                            <% } else { %>
                                <img src="./images/usuario.png" id='imagenPerfildois'>
                            <% } %>
                        </div>
                    </div>
                    
                    <div class="col-md-12"><input type="hidden" value="<%=usuario[0].id %>" name="id">
                        <label for="nome">Arquivo</label>
                        <input type="file" name="files" id="" class="form-control">
                    </div>
                </div>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-primary-color icon-color-white" onclick="atualPerfil('<%=usuario[0].id %>')" data-dismiss="modal">Atualizar Imagem</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mudar para perfil profissional -->
<div class="modal fade" id="mudarPerfil" tabindex="-1" role="dialog" aria-labelledby="mudarPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-color-primary" id="mudarPerfilLabel"><%=usuario[0].nome_completo %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/" class="form-horizontal" id='formMudarP'>
             <div class="form-group">
                <div class="row">
                    <div class="col-md-12"><input type="hidden" value="<%=DadoProfissional[0].fk_usuario %>" name="id">
                        <label for="nome">CNPJ</label>
                        <input type="text" name="cnpj" id="" class="form-control" placeholder="00.000.000/0000-00" value="<%=DadoProfissional[0].cnpj %>" required>
                    </div>
                    <div class="col-md-12">
                        <label for="nome">Razão social</label>
                        <input type="text" name="razao_social" id="" class="form-control" placeholder="Razão Social..." value="<%=DadoProfissional[0].razao_social %>">
                    </div>
                    <div class="col-md-12">
                        <label for="nome">Nome fantasia</label>
                        <input type="text" name="nome_fantasia" id="" class="form-control" placeholder="Nome fantasia ..." value="<%=DadoProfissional[0].nome_fantasia %>">
                    </div>
                    <div class="col-md-12">
                        <label for="nome">Inscrição estadual</label>
                        <input type="text" name="inscricao_estadual" id="" class="form-control" placeholder="Inscrição estadual ..." value="<%=DadoProfissional[0].inscricao_estadual %>">
                    </div>
                    <div class="col-md-12">
                        <label for="nome">Inscrição municipal</label>
                        <input type="text" name="inscricao_municipal" id="" class="form-control" placeholder="Inscrição municipal ..." value="<%=DadoProfissional[0].inscricao_municipal %>">
                    </div>
                    
                </div>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-primary-color icon-color-white" onclick="update('<%=DadoProfissional[0].fk_usuario %>')" data-dismiss="modal">Mudar Perfil</button>
        </div>
      </div>
    </div>
  </div>


<%- include('./shared/footer') %>