<%- include('./shared/header') %>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div id='capa-usuario' class="bg-gradiente">
            <div class="row">
                <div class="col-md-3">
                    <div class="perfil-usuario" id='perfil-capa-img'>
                        <% if(usuario[0].foto_perfil != '') { %>
                            <img src="<%=usuario[0].foto_perfil %>">
                        <% } else { %>
                            <img src="./images/usuario.png" id='imagenPerfil'>
                        <% } %>
                    </div>
                    <button href="#!" id='btnImgPerfil' data-toggle="modal" data-target="#perfilImage"><i class="fas fa-camera fa-2x"></i></button>
                    
                </div>
                <div class="col-md-9">
                    <h2 id='nomeUsuario'><%=usuario[0].nome_completo %> - <a href="#!" data-toggle="modal" data-target="#editPerfil"><i class="fas fa-user-edit"></i></a></h2>
                    <p id='pDescricao'>
                        <%=usuario[0].descricao_bio %>
                    </p>
                </div>

            </div>
        </div>
        <!-- Duplicação Só pra eu não mexer no arquivo errado -->
        <div class="row row-status">
            <div class="col-md-6">
                <div id="preferencias">
                    <p>Duplicação</p>

                </div>
            </div>
            <div class="col-md-3">
                <div id='prod-servicos'>
                    <p>É ta duplicado mesmo</p>

                </div>
            </div>
            <div class="col-md-3">
                <div id='btn-config-prof' class="bg-gradiente">
                    <!--<button href="#!" id='btnMudarPerfil' data-toggle="modal" data-target="#mudarPerfil"><i class="far fa-clipboard fa-1x"></i></button>-->
                    <p>Mudar tipo de perfil - <a href="#!" id='btnMudarPerfil2' data-toggle="modal" data-target="#mudarPerfil"><i class="far fa-clipboard fa-1x"></i></a></p>
                    
                    <!-- <button type="button" class="btn " data-toggle="modal" data-target="#modalExemplo">
                        
                      </button> -->
                      <a href="/profissionais/verprofissional/<%=dProf.id%>" id="btnMudarPerfil2" class="btn">Ver Profissional</a>
                </div>
            </div>
        
        </div> <!--Fim da duplicação-->

        <div class="row row-status">
          <div class="col-md-12">
              <div id='btn-controlador' class="bg-gradiente">
                  <% if (dProf.id != 0){%>
                    <a href="/profissionais/verprofissional/<%=dProf.id%>" id="btnMudarPerfil2" class="btn">Ver Profissional</a>
                  <%} else {%>
                    <p>Migrar para Profissional - <a href="#!" id='btnMudarPerfil2' data-toggle="modal" data-target="#mudarPerfil"><i class="far fa-clipboard fa-1x"></i></a></p>
                    <%}%>
              </div>
          </div>
        </div><!--Fim Botões controladores-->
        <div class="col-md-12">
          <h3>Meus produtos e serviços</h3>
        </div>

        <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 mx-auto">
                  <h4 class="alinhaTexto">Meu Portfólio</h4>
              </div>
          </div>
          <div class="row">
              <div class="col-12 px-0 col-md-12 ml-md-auto mr-md-0 pl-md-5 pr-md-0">
                  <div id="myCarousel1" class="carousel slide pl-xl-5 pl-md-0" data-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="card cartaoCarrosel d-md-inline-block ml-md-2 mr-md-4">
                                  <img src="image/produtos/produto-dois.png" class="card-img-top"
                                      alt="Imagem servico">
                                  <div class="card-body">
                                      <h5 class="card-title">Primeiro Serviço</h5>
                                      <p class="card-text">Cat ipsum dolor sit amet, mewl for food at 4am</p>
                                      <p class="card-text">
                                          <ul class="menu-status-puplic">
                                              <li><a href="#!"><img src="image/icons/coracao-primary.png"
                                                          alt="">32</a></li>
                                              <li><a href="#!"><img src="image/icons/visibilidade-primary.png"
                                                          alt="">76</a></li>
                                              <li><a href="#!"><img src="image/icons/comente-primary.png"
                                                          alt="">54</a></li>
                                          </ul>
                                      </p>
                                  </div>
                              </div>
                              <div class="card cartaoCarrosel d-md-inline-block ml-md-2 mr-md-4">
                                  <img src="image/produtos/produto-tres.png" class="card-img-top"
                                      alt="Imagem servico">
                                  <div class="card-body">
                                      <h5 class="card-title">Segundo Serviço</h5>
                                      <p class="card-text">Cat ipsum dolor sit amet, mewl for food at 4am</p>
                                      <p class="card-text">
                                          <ul class="menu-status-puplic">
                                              <li><a href="#!"><img src="image/icons/coracao-primary.png"
                                                          alt="">32</a></li>
                                              <li><a href="#!"><img src="image/icons/visibilidade-primary.png"
                                                          alt="">76</a></li>
                                              <li><a href="#!"><img src="image/icons/comente-primary.png"
                                                          alt="">54</a></li>
                                          </ul>
                                      </p>
                                  </div>
                              </div>
                              <div class="card cartaoCarrosel d-md-inline-block ml-md-2 mr-md-4">
                                  <img src="image/produtos/produto-dois.png" class="card-img-top"
                                      alt="Imagem servico">
                                  <div class="card-body">
                                      <h5 class="card-title">terceiro Serviço</h5>
                                      <p class="card-text">Cat ipsum dolor sit amet, mewl for food at 4am</p>
                                      <p class="card-text">
                                          <ul class="menu-status-puplic">
                                              <li><a href="#!"><img src="image/icons/coracao-primary.png"
                                                          alt="">32</a></li>
                                              <li><a href="#!"><img src="image/icons/visibilidade-primary.png"
                                                          alt="">76</a></li>
                                              <li><a href="#!"><img src="image/icons/comente-primary.png"
                                                          alt="">54</a></li>
                                          </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="card cartaoCarrosel d-md-inline-block ml-md-2 mr-md-4">
                                  <img src="image/produtos/produto-dois.png" class="card-img-top"
                                      alt="Imagem servico">
                                  <div class="card-body">
                                      <h5 class="card-title">Quarto Serviço</h5>
                                      <p class="card-text">Cat ipsum dolor sit amet, mewl for food at 4am</p>
                                      <p class="card-text">
                                          <ul class="menu-status-puplic">
                                              <li><a href="#!"><img src="image/icons/coracao-primary.png"
                                                          alt="">32</a></li>
                                              <li><a href="#!"><img src="image/icons/visibilidade-primary.png"
                                                          alt="">76</a></li>
                                              <li><a href="#!"><img src="image/icons/comente-primary.png"
                                                          alt="">54</a></li>
                                          </ul>
                                      </p>
                                  </div>
                              </div>
                              <div class="card cartaoCarrosel d-md-inline-block ml-md-2 mr-md-4">
                                  <img src="image/produtos/produto-tres.png" class="card-img-top"
                                      alt="Imagem servico">
                                  <div class="card-body">
                                      <h5 class="card-title">Quinto Serviço</h5>
                                      <p class="card-text">Cat ipsum dolor sit amet, mewl for food at 4am</p>
                                      <p class="card-text">
                                          <ul class="menu-status-puplic">
                                              <li><a href="#!"><img src="image/icons/coracao-primary.png"
                                                          alt="">32</a></li>
                                              <li><a href="#!"><img src="image/icons/visibilidade-primary.png"
                                                          alt="">76</a></li>
                                              <li><a href="#!"><img src="image/icons/comente-primary.png"
                                                          alt="">54</a></li>
                                          </ul>
                                      </p>
                                  </div>
                              </div>
                              <div class="card cartaoCarrosel d-md-inline-block ml-md-2 mr-md-4">
                                  <img src="image/produtos/produto-dois.png" class="card-img-top"
                                      alt="Imagem servico">
                                  <div class="card-body">
                                      <h5 class="card-title">Sexto Serviço</h5>
                                      <p class="card-text">Cat ipsum dolor sit amet, mewl for food at 4am</p>
                                      <p class="card-text">
                                          <ul class="menu-status-puplic">
                                              <li><a href="#!"><img src="image/icons/coracao-primary.png"
                                                          alt="">32</a></li>
                                              <li><a href="#!"><img src="image/icons/visibilidade-primary.png"
                                                          alt="">76</a></li>
                                              <li><a href="#!"><img src="image/icons/comente-primary.png"
                                                          alt="">54</a></li>
                                          </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <label for="nome">Razão social</label>
                          <input type="text" name="razao_social" id="razao_social" class="form-control" placeholder="Razão Social..." value="">
                      </div>
                      <div class="col-md-12">
                          <label for="nome">Nome fantasia</label>
                          <input type="text" name="nome_fantasia" id="nome_fantasia" class="form-control" placeholder="Nome fantasia ..." value="">
                      </div>
                      <div class="col-md-12">
                          <label for="nome">Inscrição estadual</label>
                          <input type="text" name="inscricao_estadual" id="inscricao_estadual" class="form-control" placeholder="Inscrição estadual ..." value="">
                      </div>
                      <div class="col-md-12">
                          <label for="nome">Inscrição municipal</label>
                          <input type="text" name="inscricao_municipal" id="inscricao_municipal" class="form-control" placeholder="Inscrição municipal ..." value="">
                      </div>
                    
                  </div>
                  <button type="submit" class="btn bg-primary-color text-color-white" id="btnMudarPerfil2">Alterar meu perfil</button>
                </div>
              </form>
            </div><!--Fim mudar prof-->
          </div>
        </div>
        
        <!-- <div class="card">
          <div class="card-body">
            <h5 class="card-title">Atualizar informações profissionais</h5>
            <!-- Atualizar profissional -->
            <!-- <div class="bg-white" id="janela-Atualiza-profissional">
              <form action="profissionais/editarProfissional" method="POST" id="formAtualizaPerfil">
              
                  <div class="col-md-12">
                  
                    <div class="row">
                      <div class="col-md-12">
                          <input type="hidden" value="<%=usuario[0].id %>" name="id">
                          <input type="hidden" value="" name="idProfissional">
                          <label for="nome">CNPJ</label>
                          <input type="text" name="cnpj" id="cnpj" class="form-control" placeholder="00.000.000/0000-00" value="">
                      </div>
                      <div class="col-md-12">
                          <label for="nome">Razão social</label>
                          <input type="text" name="razao_social" id="razao_social" class="form-control" placeholder="Razão Social..." value="">
                      </div> -->
                      <!-- <div class="col-md-12">
                          <label for="nome">Nome fantasia</label>
                          <input type="text" name="nome_fantasia" id="nome_fantasia" class="form-control" placeholder="Nome fantasia ..." value="">
                      </div>
                      <div class="col-md-12">
                          <label for="nome">Inscrição estadual</label>
                          <input type="text" name="inscricao_estadual" id="inscricao_estadual" class="form-control" placeholder="Inscrição estadual ..." value="">
                      </div>
                      <div class="col-md-12">
                          <label for="nome">Inscrição municipal</label>
                          <input type="text" name="inscricao_municipal" id="inscricao_municipal" class="form-control" placeholder="Inscrição municipal ..." value="">
                      </div>
                    
                    </div>
                    <button type="submit" class="btn bg-primary-color text-color-white" id="btnAtualizaPerfil2">Atualizar perfil</button>
                </div>
              </form>
            </div>
          </div>
        </div><!--Fim card Atualiza --> -->


    </div>
<!--
    <div class="col-md-4" style="color: aquamarine;">
     
            <div id='btn-config-prof2' class="col-md-12 bg-gradiente">
                <p id='btnMudarPerfil2'>Mudar tipo de perfil - <a href="#!" data-toggle="modal" data-target="#mudarPerfil"><i class="far fa-clipboard fa-1x"></i></a></p>
            </div>
 
    </div>
-->
</div>
</div>
<!-- Editar perfil -->
<div class="modal fade" id="editPerfil" tabindex="-1" role="dialog" aria-labelledby="editPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-color-primary" id="editPerfilLabel"><%=usuario[0].nome_completo %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/" class="form-horizontal" id='formPerfil'>
             <div class="form-group">
                <div class="row">
                    <div class="col-md-12"><input type="hidden" value="<%=usuario[0].id %>" name="id">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome_completo" id="" class="form-control" placeholder="Nome..." value="<%=usuario[0].nome_completo %>" required>
                    </div>
                    <div class="col-md-12">
                        <label for="nome_social">Nome</label>
                        <input type="text" name="nome_social" id="" class="form-control" placeholder="Nome Social..." value="<%=usuario[0].nome_social %>">
                    </div>
                    <div class="col-md-12">
                        <label for="genero">Genero</label>
                        <select name="genero" id="" class="form-control">
                            <% if(usuario[0].genero == "M") { %>
                                <option value="">Selecione...</option>
                                <option value="M" selected>Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="O">Outro</option>
                       
                            <% } else if(usuario[0].genero == "F") { %>
                                <option value="">Selecione...</option>
                                <option value="M">Masculino</option>
                                <option value="F" selected>Feminino</option>
                                <option value="O">Outro</option>
           
                            <% } else if(usuario[0].genero == "O") { %>
                                <option value="">Selecione...</option>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="O" selected>Outro</option>
                            <% } else {%>
                                <option value="">Selecione...</option>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="O">Outro</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="nome">CPF:</label>
                        <input type="text" name="cpf" id="" class="form-control" placeholder="000.000.000/07" value="<%=usuario[0].cpf %>">
                    </div>
                    <div class="col-md-6">
                        <label for="nome">Data Nasc:</label>
                        <input type="date" name="data_nascimento" id="" class="form-control" value="<%=usuario[0].data_nascimento %>">
                    </div>
                    <div class="col-md-12">
                        <label for="descricao_bio">Biografia</label>
                        <textarea name="descricao_bio" id="" cols="30" rows="10" class="form-control"><%=usuario[0].descricao_bio %></textarea>
                    </div>
                </div>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-primary-color icon-color-white" onclick="update('<%=usuario[0].id %>')" data-dismiss="modal">Atualizar Perfil</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Inserir Imagem Perfil -->
  <div class="modal fade" id="perfilImage" tabindex="-1" role="dialog" aria-labelledby="perfilImagLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-color-primary" id="perfilImageLabel"><%=usuario[0].nome_completo %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/users/imgperfil" method="POST" class="form-horizontal" id='formImagePerfil' enctype="multipart/form-data">
             <div class="form-group">
                <div class="row">
                    <div class='col-md-12'>
                        <div class="perfil-usuario" id='perfil-capa-img'>
                            <% if(usuario[0].foto_perfil != '') { %>
                                <img src="<%=usuario[0].foto_perfil %>">
                            <% } else { %>
                                <img src="./images/usuario.png" id='imagenPerfildois'>
                            <% } %>
                        </div>
                    </div>
                    
                    <div class="col-md-12"><input type="hidden" value="<%=usuario[0].id %>" name="id">
                        <label for="nome">Arquivo</label>
                        <input type="file" name="files" id="" class="form-control">
                    </div>
                </div>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-primary-color icon-color-white" onclick="atualPerfil('<%=usuario[0].id %>')" data-dismiss="modal">Atualizar Imagem</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="mudarPerfil" tabindex="-1" role="dialog" aria-labelledby="mudarPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-color-primary" id="mudarPerfilLabel">Mudar <%=usuario[0].nome_completo %> para profissional</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/salvarProfissional" class="form-horizontal" method= "post" id='formMudarP'>
             <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" value="<%=usuario[0].id %>" name="id">
                        <label for="nome">CNPJ</label>
                        <input type="text" name="cnpj" id="cnpj" class="form-control" placeholder="00.000.000/0000-00" value="">
                    </div>
                    <div class="col-md-12">
                        <label for="nome">Razão social</label>
                        <input type="text" name="razao_social" id="razao_social" class="form-control" placeholder="Razão Social..." value="">
                    </div>
                    <div class="col-md-12">
                        <label for="nome">Nome fantasia</label>
                        <input type="text" name="nome_fantasia" id="nome_fantasia" class="form-control" placeholder="Nome fantasia ..." value="">
                    </div>
                    <div class="col-md-12">
                        <label for="nome">Inscrição estadual</label>
                        <input type="text" name="inscricao_estadual" id="inscricao_estadual" class="form-control" placeholder="Inscrição estadual ..." value="">
                    </div>
                    <div class="col-md-12">
                        <label for="nome">Inscrição municipal</label>
                        <input type="text" name="inscricao_municipal" id="inscricao_municipal" class="form-control" placeholder="Inscrição municipal ..." value="">
                    </div>
                    
                </div>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-primary-color icon-color-white" onclick="mudarP('<%=usuario[0].id %>')" data-dismiss="modal">Mudar Perfil</button>
          <!--<button type="submit" class="btn bg-primary-color icon-color-white" form= "formMudarP">Mudar tipo de Perfil</button>-->
        <!--</div>
      </div>
    </div>
  </div>

<%- include('./shared/footer') %>