<%- include('./shared/header') %>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div id='capa-usuario' class="bg-gradiente">
            <div class="row">
                <div class="col-md-3">
                    <div class="perfil-usuario" id='perfil-capa-img'>
                        <% if(usuario[0].foto_perfil != '') { %>
                            <img src="<%=usuario[0].foto_perfil %>" id='imagenPerfildin'>
                        <% } else { %>
                            <img src="./images/usuario.png" id='imagenPerfil'>
                        <% } %>
                    </div>
                    <button href="#!" id='btnImgPerfil' data-toggle="modal" data-target="#perfilImage"><i class="fas fa-camera fa-2x"></i></button>
                    
                </div>
                <div class="col-md-9">
                    <h2 id='nomeUsuario'><%=usuario[0].nome_completo %> - <a href="#!" data-toggle="modal" data-target="#editPerfil"><i class="fas fa-user-edit"></i></a></h2>
                    <p id='pDescricao'>
                        <%=usuario[0].descricao_bio %>
                    </p>
                </div>

            </div>
        </div>
        <div class="row row-status">
            <div class="col-md-6">
                <div id="preferencias">
                  <p>Preferencias <a href="#!" data-toggle="modal" data-target="#modalPreferencias"><i class="fas fa-plus"></i></a></p>
                    <div id='divPref' class="row">
                      <% for(let pref of preferencias) {%>
                        <span id='spn_<%=pref.id %>' class="tag-transparente"><%=pref.ServicoGeral.servico %> <a href="#!" onclick="apagarPref('<%=pref.id %>')"><i class="fas fa-times"></i></a></span>
                      <% } %>

                    </div>
                </div>    
                    <!-- <button onclick="consServGerais()">Servicos</button> -->
            </div>
        
            <div class="col-md-3">
                <div id='prod-servicos'>
                    <p>Produtos e Serviços</p>

                </div>
            </div>
            <div class="col-md-3">
                <div id='avaliacao-user' class="bg-gradiente">

                </div>
            </div>
        
        </div>
    </div>

    <div class="col-md-4">

    </div>

</div>

<div class="row">
  <div class="col-md-8 criar-npublicacao">
      <div class="card">
          <div class="card-header">
              Criar Publicação
          </div>
          <div class="card-body">
                  <div class="col-md-1 foto-post">
                      <img src="<%=usuario[0].foto_perfil %>">
                  </div>
                  <div class="col-md-4" style="display: inline; padding-left: 25px;">
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-outline-dark btn-lg botao-post" data-toggle="modal" data-target="#exampleModal">
                        No que você está pensando, <%=usuario[0].nome_completo %>?
                      </button>
                  </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="col-md-8 publicacao-usuario">
        <div class="card">
            <div class="card-body">
                <div class="col-md-6" style="display: inline-block;">
                    <div class="foto-post" style="padding-left: 0;">
                        <img src="<%=usuario[0].foto_perfil %>"> 
                    </div>
                    <div style="display: inline; padding-left: 10px; font-weight: bold;">
                        <%=usuario[0].nome_completo %>
                    </div>
                </div>
                <div class="card-text" style="width: 100%; padding-left: 95px;">
                    
                </div>
                <div class="card-img">
                    <img src="..." class="card-img-top" alt="...">
                </div>
                <div class="card-itens">
                    <b>Postado no dia: </b>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!-- Editar perfil -->
<div class="modal fade" id="editPerfil" tabindex="-1" role="dialog" aria-labelledby="editPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-color-primary" id="editPerfilLabel"><%=usuario[0].nome_completo %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id='formPerfil'>
             <div class="form-group">
                <div class="row">
                    <div class="col-md-12"><input type="hidden" value="<%=usuario[0].id %>" name="id">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome_completo" id="" class="form-control" placeholder="Nome..." value="<%=usuario[0].nome_completo %>" required>
                    </div>
                    <div class="col-md-12">
                        <label for="nome_social">Nome</label>
                        <input type="text" name="nome_social" id="" class="form-control" placeholder="Nome Social..." value="<%=usuario[0].nome_social %>">
                    </div>
                    <div class="col-md-12">
                        <label for="genero">Genero</label>
                        <select name="genero" id="" class="form-control">
                                <option value="">Selecione...</option>
                                <option value="M" <%=usuario[0].genero == "M" ? 'selected' : '' %>>Maculino</option>
                                <option value="F" <%=usuario[0].genero == "F" ? 'selected' : '' %>>Feminio</option>
                                <option value="O" <%=usuario[0].genero == "O" ? 'selected' : '' %>>Outro</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="nome">CPF:</label>
                        <input type="text" name="cpf" id="" class="form-control" placeholder="000.000.000/07" value="<%=usuario[0].cpf %>">
                    </div>
                    <div class="col-md-6">
                        <label for="nome">Data Nasc:</label>
                        <input type="date" name="data_nascimento" id="" class="form-control" value="<%=usuario[0].data_nascimento %>">
                    </div>
                    <div class="col-md-12">
                        <label for="descricao_bio">Biografia</label>
                        <textarea name="descricao_bio" id="" cols="30" rows="10" class="form-control"><%=usuario[0].descricao_bio %></textarea>
                    </div>
                </div>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-primary-color icon-color-white" onclick="update('<%=usuario[0].id %>')" data-dismiss="modal">Atualizar Perfil</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Inserir Imagem Perfil -->
  <div class="modal fade" id="perfilImage" tabindex="-1" role="dialog" aria-labelledby="perfilImagLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-color-primary" id="perfilImageLabel"><%=usuario[0].nome_completo %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/users/imgperfil" method="POST" class="form-horizontal" id='formImagePerfil' enctype="multipart/form-data">
             <div class="form-group">
                <div class="row">
                    <div class='col-md-12'>
                        <div class="perfil-usuario" id='atual-perfil-img'>
                            <% if(usuario[0].foto_perfil != '') { %>
                                <img src="<%=usuario[0].foto_perfil %>" id='imagenPerfilDinDois'>
                            <% } else { %>
                                <img src="./images/usuario.png" id='imagenPerfilDois'>
                            <% } %>
                        </div>
                    </div>
                    
                    <div class="col-md-12"><input type="hidden" value="<%=usuario[0].id %>" name="id">
                        <label for="nome">Arquivo</label>
                        <input type="file" name="files" id="" class="form-control">
                    </div>
                </div>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-primary-color icon-color-white" onclick="atualPerfil('<%=usuario[0].id %>')">Atualizar Imagem</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Preferencias -->
  <div class="modal fade" id="modalPreferencias" tabindex="-1" role="dialog" aria-labelledby="modalPreferenciasLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-color-primary" id="modalPreferenciasLabel">Preferencias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class='col-md-12'>
                         <input type="text" id='pesqServico' class="form-control" placeholder="Serviço..." />
                         <input id='id_user' type="hidden" value="<%=usuario[0].id %>" />
                         <!-- <div id="menu_pref" class="menu_susp">
                            <ul class="list-group" id="lista_servicos"></ul>
                            <div class="u-footer--bottom-fixed" style="text-align:right">
                                <button class="btn btn-danger btn-sm" type="button" style="margin-top:5px; margin-bottom:5px; margin-right:5px" onclick="clouseMenuServicos()"><i class="fa fa-times"></i></button>
                            </div>
                        </div> -->
                      </div>
                      <div class="col-md-12">
                        <div id='cloud_tag' class="row"></div>
                        <!-- <span class="tag-transparente">Primary</span> -->
                        <!-- <ul class="list-group" id='lista_servicos'>
                          <li class="list-group-item">Lista</li>
                        </ul> -->
                      </div>
                  </div>
                
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn bg-primary-color icon-color-white" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
      </div>
  </div>
  
  <!-- Modal Publicacao -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Publicação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/" method="POST">
                    <textarea name="textoPost" placeholder="No que você está pensando?" cols="70"
                    rows="10"></textarea>
                    <div class="col-md-12"><input type="hidden" name="id">
                        <input type="file" name="imagemPost" id="" class="form-control">
                    </div>
                    <button type="submit" class="btn bg-primary-color icon-color-white">Publicar</button>
            </form>
        </div>
    </div>
</div>
</div>

<%- include('./shared/footer') %>