<%- include('./shared/header') %>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div id='capa-usuario' class="bg-gradiente">
            <div class="row">
                <div class="col-md-3">
                    <div class="perfil-usuario" id='perfil-capa-img'>
                        <% if(usuario.foto_perfil == '') { %>
                            <img src="<%=usuario.foto_prefil %>">
                        <% } else { %>
                            <img src="./images/usuario.png">
                        <% } %>
                    </div>
                </div>
                <div class="col-md-9">
                    <h2><%=usuario.nome_completo %> - <a href="#!" data-toggle="modal" data-target="#editPerfil"><i class="fas fa-user-edit"></i></a></h2>
                    <p>
                        <%=usuario.descricao_bio%>
                    </p>
                </div>

            </div>
        </div>
        <div class="row row-status">
            <div class="col-md-6">
                <div id="preferencias">
                    <p>Preferencias</p>

                </div>
            </div>
            <div class="col-md-3">
                <div id='prod-servicos'>
                    <p>Produtos e Serviços</p>

                </div>
            </div>
            <div class="col-md-3">
                <div id='avaliacao-user' class="bg-gradiente">

                </div>
            </div>
        
        </div>
    </div>

    <div class="col-md-4">

    </div>

</div>
</div>
<!-- Editar perfil -->
<div class="modal fade" id="editPerfil" tabindex="-1" role="dialog" aria-labelledby="editPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-color-primary" id="editPerfilLabel"><%=usuario.nome_completo %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/" class="form-horizontal" id='formPerfil'>
             <div class="form-group">
                <div class="row">
                    <div class="col-md-12"><input type="hidden" value="<%=usuario.id %>" name="id">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome_completo" id="" class="form-control" placeholder="Nome..." value="<%=usuario.nome_completo %>" required>
                    </div>
                    <div class="col-md-12">
                        <label for="nome_social">Nome</label>
                        <input type="text" name="nome_social" id="" class="form-control" placeholder="Nome Social..." value="<%=usuario.nome_social %>">
                    </div>
                    <div class="col-md-12">
                        <label for="genero">Genero</label>
                        <select name="genero" id="" class="form-control">
                            <% if(usuario.genero == "M") { %>
                                <option value="">Selecione...</option>
                                <option value="M" selected>Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="O">Outro</option>
                            <% } %>
                            <% if(usuario.genero == "F") { %>
                                <option value="">Selecione...</option>
                                <option value="M">Masculino</option>
                                <option value="F" selected>Feminino</option>
                                <option value="O">Outro</option>
                            <% } %>
                            <% if(usuario.genero == "O") { %>
                                <option value="">Selecione...</option>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="O" selected>Outro</option>
                            <% } else {%>
                                <option value="">Selecione...</option>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                                <option value="O">Outro</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="nome">CPF:</label>
                        <input type="text" name="cpf" id="" class="form-control" placeholder="000.000.000/07" value="<%=usuario.cpf %>">
                    </div>
                    <div class="col-md-6">
                        <label for="nome">Data Nasc:</label>
                        <input type="date" name="data_nascimento" id="" class="form-control" value="<%=usuario.data_nascimento %>">
                    </div>
                    <div class="col-md-12">
                        <label for="descricao_bio">Biografia</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                </div>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-primary-color icon-color-white" onclick="update('<%=usuario.id %>')">Atualizar Perfil</button>
        </div>
      </div>
    </div>
  </div>

<%- include('./shared/footer') %>