<%- include('./shared/header') %>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div id='capa-usuario' class="bg-gradiente">
            <div class="row">
                <div class="col-md-3">
                    <div class="perfil-usuario" id='perfil-capa-img'>
                        <% if(usuario[0].foto_perfil != '') { %>
                            <img src="<%=usuario[0].foto_perfil %>" id='imagenPerfildin'>
                        <% } else { %>
                            <img src="./images/usuario.png" id='imagenPerfil'>
                        <% } %>
                    </div>
                    <button href="#!" id='btnImgPerfil' data-toggle="modal" data-target="#perfilImage"><i class="fas fa-camera fa-2x"></i></button>
                    
                </div>
                <div class="col-md-9">
                    <h2 id='nomeUsuario'><%=usuario[0].nome_completo %> - <a href="#!" data-toggle="modal" data-target="#editPerfil"><i class="fas fa-user-edit"></i></a></h2>
                    <p id='pDescricao'>
                        <%=usuario[0].descricao_bio %>
                    </p>
                </div>

            </div>
        </div>
        <div class="row row-status">
            <div class="col-md-6">
                <div id="preferencias">
                  <p>Preferencias <a href="#!" data-toggle="modal" data-target="#modalPreferencias"><i class="fas fa-plus"></i></a></p>
                    <div id='divPref' class="row">
                      <% for(let pref of preferencias) {%>
                        <span id='spn_<%=pref.id %>' class="tag-transparente"><%=pref.ServicoGeral.servico %> <a href="#!" onclick="apagarPref('<%=pref.id %>')"><i class="fas fa-times"></i></a></span>
                      <% } %>

                    </div>
                </div>    
                    <!-- <button onclick="consServGerais()">Servicos</button> -->
            </div>
        
            <div class="col-md-3">
                <div id='prod-servicos'>
                  <p>Produtos e Serviços</p>

                </div>
            </div>
            <div class="col-md-3">
              <div id='avaliacao-user'>
                  <p>Avaliação</p>
                  <div>
                    
                  </div>                  
              </div>
            </div>
            <div class="col-md-8 col-sm-12">
              <button class="botao-solicitacao bg-primary-color text-color-white"> Criar solicitação de serviços e produtos</button>
            </div>
        </div>
         <!-- Area de Posts -->
    <div class="col-md-8 col-sm-12">
      <div class="card-post bg-white">
          <div class="row">
            <!-- <div class="col-md-12">
              <p>Criar publicação</p>
              <hr>
            </div> -->
            <div class="col-md-3">
              <div class="perfil-usuario-mini" id='perfil-post-img'>
                <% if(usuario[0].foto_perfil != '') { %>
                    <img src="<%=usuario[0].foto_perfil %>" id='imagenPerfilPost'>
                <% } else { %>
                    <img src="./images/usuario.png" id='imagenPerfilPostInex'>
                <% } %>
              </div>
            </div>
            <div class="col-md-9">
                <!-- <textarea name="texto" id="" class="form-control" placeholder="Olá <%=usuario[0].nome_completo %> ! No que você está pensando?"></textarea> -->
                <div class="criar-publicacoes">
                  <a href="#" id="btnCriarPublic">Olá <%=usuario[0].nome_completo %> ! No que você está pensando?</a>
                </div>
              </div>
            <div class="col-md-12">
              <hr>
              <!-- <button class="botao-enviar bg-primary-color text-color-white">Foto</button>
              <button class="botao-enviar bg-primary-color text-color-white">Enviar</button> -->
            </div>
          </div>
      </div>
    </div>

    <!-- Postagens referentes ao cliente -->
    <div class="col-md-8 col-sm-12" id='corpo-nova-postagem'>
      <!-- <div class="card-post" id="cardNew"></div> -->
    </div>
    <div class="col-md-8 col-ms-12" id="corpo-postagens">
      <% for(let p of posts) { %>
        <div class="card-post bg-white" id="cardPost_<%=p.id %>">
            <div class="row">
              <div class="col-md-3">
                <div class="perfil-usuario-mini" id='perfil-post-img'>
                  <% if(usuario[0].foto_perfil != '') { %>
                      <img src="<%=usuario[0].foto_perfil %>" id='imagenPerfilPost'>
                  <% } else { %>
                      <img src="./images/usuario.png" id='imagenPerfilPostInex'>
                  <% } %>
                </div>
              </div>
              <div class="col-md-7">
                  <span class="nomeUsuarioPost"><%=usuario[0].nome_completo %> </span><br><span class="dataPostagem"> 
                    <% let date = p.data_postagem 
                       let dia = date.getDate().toString().padStart(2, '0');
                       let mes = (date.getMonth()+1).toString().padStart(2, '0');
                       let ano = date.getFullYear();
                       let dataFormatada = dia + "/" + mes + "/" + ano;
                    %>Postado em: <%=dataFormatada %>
                  </span>
                  <p id='pgf_<%=p.id %>'><%=p.texto %></p>
                  
              </div>
              <div class="col-md-2">
                 <a href="#" id="btnMenuPost_<%=p.id %>" class="btn-menu-post" onclick="abrirMenuPost('<%=p.id %>')"><i class="fas fa-ellipsis-h"></i></a>
                 <div id="menuPost_<%=p.id %>" class="menu-postagem bg-white">
                     <ul class="list-group list-group-flush">
                       <li class="list-group-item"><a href="#" onclick="formEditar('<%=p.id %>')"><i class="fas fa-pencil-alt"></i> Editar</a></li>
                       <li class="list-group-item"><a href="#" onclick="deletePost('<%=p.id %>', 'corpo-postagens', '<%=p.imagem %>')"><i class="fas fa-trash-alt"></i> Excluir</a></li>
                     </ul>
                    
                 </div>
              </div>
              <div class="col-md-12">
                <% if(p.imagem) { %>
                  <p><img src="<%=p.imagem %>" id="img_<%=p.id %>" alt="" class="imagem-postada" /></p>
                  <% } %>
                    <div class="row">
                       <div class="col-md-12">
                          <ul class="menu-status">
                            <li><i class="fas fa-heart text-color-primary"></i> 12</li>
                            <li><i class="fas fa-eye text-color-primary"></i> 34</li>
                            <li><i class="fas fa-comments text-color-primary"></i> 52</li>
                          </ul>
                       </div>
                    </div>
              </div>
              <div class="col-md-12">
                  <hr>
                  <div class="row" id="menu-criar-status">
                    <div class="col-md-4">
                      <a href="http://"><i class="fas fa-heart text-color-primary fa-2x"></i></a>
                    </div>
                    <div class="col-md-4">
                      <a class="btn" data-toggle="collapse" href="#collapseComments" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-comments text-color-primary fa-2x"></i>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href="http://"><i class="fas fa-share-alt text-color-primary fa-2x"></i></a>
                    </div>
  
                  </div>
                  <!-- Seção de Comentários -->
                  <div class="collapse" id="collapseComments">
                    <div class="col-md-12 card card-body" style="padding-left: 0; display: -webkit-inline-box;">
                      <div class="col-md-2" style="padding-left: 0;">
                        <div class="perfil-usuario-mini" id='perfil-post-img'>
                          <% if(usuario[0].foto_perfil != '') { %>
                              <img src="<%=usuario[0].foto_perfil %>" id='imagenPerfilPost'>
                          <% } else { %>
                              <img src="./images/usuario.png" id='imagenPerfilPostInex'>
                          <% } %>
                        </div>
                      </div>
                      <div class="col-md-10" style="padding-top: 10px; padding-left: 0;">
                        <form action="">
                          <textarea class="form-control" id="commentText" rows="1" placeholder="Deixe seu comentário..."></textarea>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
              </div>
              
            </div>
        </div>

      <% } %>

    </div>
   </div>

   

    <div class="col-md-4 col-sm-12">
      <div class="row propagandas">
          <div class="col-md-12 bg-primary-color" id="cabecalho-propagandas">
              <div class="row">
                  <div class="col-md-2 col-sm-2">
                      <img src="/images/icons/campanha-white.png" alt="">
                  </div>
                  <div class="col-md-10 col-sm-10">
                      <h3>Anuncios e propagandas</h3>
                  </div>

              </div>
          </div>
          <div class="col-md-12 anuncio">
              <img src="/images/produtos/produto-um.png" alt="">
              <h4>Anuncio patrocinado</h4>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Vitae voluptas ullam est quidem beatae, obcaecati repellendus iusto, 
                  sed ducimus eligendi distinctio pariatur excepturi? Facere maxime ea pariatur 
                  architecto vitae? Minima!
              </p>
              <button>Ver anuncio</button>
              <hr>
          </div>
          <div class="col-md-12 anuncio">
              <img src="/images/produtos/produto-dois.png" alt="">
              <h4>Anuncio patrocinado</h4>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Vitae voluptas ullam est quidem beatae, obcaecati repellendus iusto, 
                  sed ducimus eligendi distinctio pariatur excepturi? Facere maxime ea pariatur 
                  architecto vitae? Minima!
              </p>
              <button>Ver anuncio</button>
              <hr>
          </div>
          <div class="col-md-12 anuncio">
              <img src="/images/produtos/produto-tres.png" alt="">
              <h4>Anuncio patrocinado</h4>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Vitae voluptas ullam est quidem beatae, obcaecati repellendus iusto, 
                  sed ducimus eligendi distinctio pariatur excepturi? Facere maxime ea pariatur 
                  architecto vitae? Minima!
              </p>
              <button>Ver anuncio</button>
              <hr>
          </div>
          <div class="col-md-12 anuncio">
              <img src="/images/produtos/produto-um.png" alt="">
              <h4>Anuncio patrocinado</h4>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Vitae voluptas ullam est quidem beatae, obcaecati repellendus iusto, 
                  sed ducimus eligendi distinctio pariatur excepturi? Facere maxime ea pariatur 
                  architecto vitae? Minima!
              </p>
              <button>Ver anuncio</button>
              <hr>
          </div>
      </div>
  </div>

   
  </div>
  <!-- Form Nova Postagem -->
  <div class="bg-white" id="janela-publicar">
    <form action="" enctype="multipart/form-data" id="formPostagem">
    
    <div class="row">
      <div class="col-md-9">
        <h3>Criar publicação</h3>
      </div>
      <div class="col-md-3">
        <a href="#" id='btnfchPublic'><i class="fas fa-times fa-2x"></i></a>
      </div>
        <div class="col-md-12">
          <hr>
          <div class="row">
            <div class="col-md-3">
              <div class="perfil-usuario-mini" id='perfil-post-img'>
                <% if(usuario[0].foto_perfil != '') { %>
                    <img src="<%=usuario[0].foto_perfil %>" id='imagenPerfilPost'>
                <% } else { %>
                    <img src="./images/usuario.png" id='imagenPerfilPostInex'>
                <% } %>
              </div>
  
            </div>
            <div class="col-md-9">
                <%=usuario[0].nome_completo %>
            </div>
  
          </div>
          <div class="col-md-12">
              <textarea name="texto" id="" class="textoPost" placeholder="Olá <%=usuario[0].nome_completo %>! No que está pensando para hoje?"></textarea>
          </div>
          <div class="col-md-12" id='divimgPost'>
            <!-- <a href="http://" id="btnExcluirImg"><i class="fas fa-times-circle fa-3x"></i></a> -->
            <!-- <img src="./images/servicos/mascara-de-hidratacao.jpg" style="width: 570px;" alt=""> -->
  
          </div>
          <div class="col-md-12">
            <div class="input-wrapper">
              <label for="filePosts"><i class="fas fa-camera fa-2x"></i></label>
              <input type="file" name="files" id="filePosts">
            </div>
          </div>
          <div class="col-md-12">
            <button class="bg-primary-color text-color-white" id="btnEnviarPublicacao">Publicar</button>
          </div>
          
        </div>
     
        
      </div>
    </form>
  </div>

  <!-- Form Nova Postagem -->
  <div class="bg-white" id="janela-editar-publicacao">
    <form action="" enctype="multipart/form-data" id="formEditarPostagem">
    
    <div class="row">
      <div class="col-md-9">
        <h3>Editar publicação</h3>
      </div>
      <div class="col-md-3">
        <a href="#" id='btnfchEditPublic'><i class="fas fa-times fa-2x"></i></a>
      </div>
        <div class="col-md-12">
          <hr>
          <div class="row">
            <div class="col-md-3">
              <div class="perfil-usuario-mini" id='perfil-post-img'>
                <% if(usuario[0].foto_perfil != '') { %>
                    <img src="<%=usuario[0].foto_perfil %>" id='imagenPerfilPost'>
                <% } else { %>
                    <img src="./images/usuario.png" id='imagenPerfilPostInex'>
                <% } %>
              </div>
  
            </div>
            <div class="col-md-9">
                <%=usuario[0].nome_completo %>
            </div>
            
          </div>
          <div class="col-md-12"><input type="hidden" name="id" id="idPost">
              <textarea name="texto" id="textPostagem" class="textoPost" placeholder="Olá <%=usuario[0].nome_completo %>! No que está pensando para hoje?"></textarea>
          </div>
          <div class="col-md-12" id='divimgEditPost'>
            <!-- <a href="http://" id="btnExcluirImg"><i class="fas fa-times-circle fa-3x"></i></a> -->
            <!-- <img src="./images/servicos/mascara-de-hidratacao.jpg" style="width: 570px;" alt=""> -->
  
          </div>
          <div class="col-md-12">
            <div class="input-wrapper">
              <label for="fileEditPosts"><i class="fas fa-camera fa-2x"></i></label>
              <input type="file" name="files" id="fileEditPosts">
            </div>
          </div>
          <div class="col-md-12">
            <button class="bg-primary-color text-color-white" id="btnEnviarPublicacao">Atualizar Publicação</button>
          </div>
          
        </div>
     
        
      </div>
    </form>
  </div>
</div>

<!-- Editar perfil -->
<div class="modal fade" id="editPerfil" tabindex="-1" role="dialog" aria-labelledby="editPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-color-primary" id="editPerfilLabel"><%=usuario[0].nome_completo %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id='formPerfil'>
             <div class="form-group">
                <div class="row">
                    <div class="col-md-12"><input type="hidden" value="<%=usuario[0].id %>" name="id">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome_completo" id="" class="form-control" placeholder="Nome..." value="<%=usuario[0].nome_completo %>" required>
                    </div>
                    <div class="col-md-12">
                        <label for="nome_social">Nome</label>
                        <input type="text" name="nome_social" id="" class="form-control" placeholder="Nome Social..." value="<%=usuario[0].nome_social %>">
                    </div>
                    <div class="col-md-12">
                        <label for="genero">Genero</label>
                        <select name="genero" id="" class="form-control">
                                <option value="">Selecione...</option>
                                <option value="M" <%=usuario[0].genero == "M" ? 'selected' : '' %>>Maculino</option>
                                <option value="F" <%=usuario[0].genero == "F" ? 'selected' : '' %>>Feminio</option>
                                <option value="O" <%=usuario[0].genero == "O" ? 'selected' : '' %>>Outro</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="nome">CPF:</label>
                        <input type="text" name="cpf" id="" class="form-control" placeholder="000.000.000/07" value="<%=usuario[0].cpf %>">
                    </div>
                    <div class="col-md-6">
                        <label for="nome">Data Nasc:</label>
                        <input type="date" name="data_nascimento" id="" class="form-control" value="<%=usuario[0].data_nascimento %>">
                    </div>
                    <div class="col-md-12">
                        <label for="descricao_bio">Biografia</label>
                        <textarea name="descricao_bio" id="" cols="30" rows="10" class="form-control"><%=usuario[0].descricao_bio %></textarea>
                    </div>
                </div>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-primary-color icon-color-white" onclick="update('<%=usuario[0].id %>')" data-dismiss="modal">Atualizar Perfil</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Inserir Imagem Perfil -->
  <div class="modal fade" id="perfilImage" tabindex="-1" role="dialog" aria-labelledby="perfilImagLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-color-primary" id="perfilImageLabel"><%=usuario[0].nome_completo %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/users/imgperfil" method="POST" class="form-horizontal" id='formImagePerfil' enctype="multipart/form-data">
             <div class="form-group">
                <div class="row">
                    <div class='col-md-12'>
                        <div class="perfil-usuario" id='atual-perfil-img'>
                            <% if(usuario[0].foto_perfil != '') { %>
                                <img src="<%=usuario[0].foto_perfil %>" id='imagenPerfilDinDois'>
                            <% } else { %>
                                <img src="./images/usuario.png" id='imagenPerfilDois'>
                            <% } %>
                        </div>
                    </div>
                    
                    <div class="col-md-12"><input type="hidden" value="<%=usuario[0].id %>" name="id">
                        <label for="nome">Arquivo</label>
                        <input type="file" name="files" id="" class="form-control">
                    </div>
                </div>
             </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn bg-primary-color icon-color-white" onclick="atualPerfil('<%=usuario[0].id %>')">Atualizar Imagem</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Preferencias -->
  <div class="modal fade" id="modalPreferencias" tabindex="-1" role="dialog" aria-labelledby="modalPreferenciasLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-color-primary" id="modalPreferenciasLabel">Preferencias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class='col-md-12'>
                         <input type="text" id='pesqServico' class="form-control" placeholder="Serviço..." />
                         <input id='id_user' type="hidden" value="<%=usuario[0].id %>" />
                         <!-- <div id="menu_pref" class="menu_susp">
                            <ul class="list-group" id="lista_servicos"></ul>
                            <div class="u-footer--bottom-fixed" style="text-align:right">
                                <button class="btn btn-danger btn-sm" type="button" style="margin-top:5px; margin-bottom:5px; margin-right:5px" onclick="clouseMenuServicos()"><i class="fa fa-times"></i></button>
                            </div>
                        </div> -->
                      </div>
                      <div class="col-md-12">
                        <div id='cloud_tag' class="row"></div>
                        <!-- <span class="tag-transparente">Primary</span> -->
                        <!-- <ul class="list-group" id='lista_servicos'>
                          <li class="list-group-item">Lista</li>
                        </ul> -->
                      </div>
                  </div>
                
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn bg-primary-color icon-color-white" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
      </div>
  </div>




<%- include('./shared/footer') %>